[Bb]in/
[Oo]bj/
[Oo]ut/
*.dll
*.exe
*.pdb
*.cache
*.nupkg
[Pp]ackages/
project.assets.json

.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.user
*.suo

.DS_Store
Thumbs.db

certs/.pem
certs/.pfx
certs/.key
certs/.crt
